<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="post_header">
        <ul>
          <li><%= @editted_post.shop_genre_i18n %></li>
          <li><%= @editted_post.prefecture_i18n %></li>
          <li><i class="fa-regular fa-star"></i><%= @editted_post.rate %></li>
        </ul>
      </div>
      <div class="post_main">
        <div class="post_main_header">
          <h3><%= @editted_post.shop_name %></h3>
          <% @tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </div>
        <div class="post_main_image_review">
          <div class="post_main_image">
            <% if @tmp_images.present? %>
              <% @tmp_images.each do |image| %>
                <img src="data:image/png;base64,<%=image%>">
              <% end %>
            <% else %>
              <% @post.post_images.each do |image| %>
                <%= image_tag image.variant(resize: "500x400")%>
              <% end %>
            <% end %>
          </div>
          <div class="post_main_review">
            <%= @editted_post.review %>
          </div>
        </div>
        <i class="fa-regular fa-heart"></i>
      </div>
      <%= form_with url: post_path(@post.id), method: :patch do |f| %>
        <%= f.submit '編集完了', class:'btn btn-info'%>
      <% end %>
    </div>
  </div>
</div>