<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="mx-auto my-2 border border-secondary border-3">
        <div class="post_header py-3 bg-dark text-white d-flex">
          <div class="shop_genre border border-light ml-2 px-2"><%= @editted_post.shop_genre_i18n %></div>
          <div class="prefecture border border-light mx-2 px-2"><%= @editted_post.prefecture_i18n %></div>
          <div class="rate border border-light text-warning px-2"><i class="fa-regular fa-star"></i><%= @editted_post.rate %></div>
          <div class="ml-auto px-3">
            <i class="text-light display-5 fa-regular fa-heart">お気に入り登録</i>
          </div>
        </div>
        <div class="post_main">
          <div class="post_main_header d-flex justify-content-between my-2">
            <h1 class="w-100 align-items-center mx-2 me-auto text-center"><strong>店名：<%= @editted_post.shop_name %></strong></h1>
            <div class="flex-shrink-1 d-flex flex-wrap align-items-center mr-1">
              <% @tags.each do |tag| %>
                <div class="text-light bg-info border border-light rounded px-2">
                  <%= tag.name %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="post_main_image_review row">
            <div class="post_main_image col-sm-12 col-md-8 col-lg-8">
              <div class="swiper">
                <div class="ml-3 swiper-wrapper">
                  <% if session[:temporary_image_pathes].present? %>
                    <% @tmp_images.each do |image| %>
                      <div class="swiper-slide">
                        <img src="data:image/png;base64,<%=image%>" class="img-fluid" >
                      </div>
                    <% end %>
                  <% else %>
                    <% @post.post_images.each do |post_image| %>
                      <div class="swiper-slide">
                        <%= image_tag post_image, class:'img-fluid' %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
            <div class="post_main_review col-sm-12 col-md-4 col-lg-4 text-left">
              <div class="address mb-2 px-1">
                <strong>住所：<%= @editted_post.address %></strong>
              </div>
              <div class="review px-1">
                <%= safe_join(@editted_post.review.split("\n"),tag(:br)) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <%= form_with url: post_path(@post.id), method: :patch do |f| %>
          <%= f.submit '編集完了', class:'btn btn-info px-5 py-2'%>
        <% end %>
      </div>
    </div>
  </div>
</div>