<div class="container">
  <div class="search_form">
    <%= form_with url: search_posts_path do |f| %>
      <%= f.text_field :shop_name %>
      <%= f.submit '検索', class:'btn btn-success'%>
    <% end %>
    <%= link_to 'タグ一覧から探す', tags_path, class:'btn btn-success' %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 border">
      <%= image_tag current_user.get_user_image(100, 100) %>
      <span><%= current_user.most_favorite %></span>
      <%= link_to user_path(current_user.id) do %><%= current_user.name %><% end %>
      <p><%= current_user.introduction%></p>
      <ul>
        <li>フォロー数</li>
        <li>フォロワー数</li>
      </ul>
      <%= link_to '投稿する', new_post_path, class:'btn btn-info' %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <% @posts.each do |post_item| %>
        <div class="post_item">
          <div class="post_item_header">
            <%= post_item.shop_genre %>
            <%= post_item.prefecture %>
          </div>
          <div class="post_item_main">
            <%= link_to post_path(post_item.id) do %>
              <%= image_tag post_item.post_images[0].variant(resize:'120x100') %>
              <h3><%= post_item.shop_name %></h3>
            <% end %>
            <span><%= post_item.favorites.count %>いいね</span>
            <% post_item.tags.limit(5).each do |tag| %>
              <%= form_with model: @tag, url: search_tags_path do |f| %>
                <%=f.hidden_field :tag_id, value => tag.id %>
                <%= f.submit "#{tag.name}" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= paginate @posts %>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="sort_narrow">
        <% form_with url: posts_path do |f| %>
          <div class="sort">
            <%= f.select :sort_rule, [["新しい順", 0],["古い順", 1],["評価が高い順", 2],["いいねが多い順", 3]],{selected: 0} %>
          </div>
          <div class="narrow_shop_genre">
            <%= f.radio_button :shop_genre, Post.shop_genres.key(0) %>
            <%= f.label :shop_genre_old_clothing, Post.shop_genres_i18n[:old_clothing] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(1) %>
            <%= f.label :shop_genre_old_item, Post.shop_genres_i18n[:old_item] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(2) %>
            <%= f.label :shop_genre_old_tool, Post.shop_genres_i18n[:old_tool] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(3) %>
            <%= f.label :shop_genre_old_interior, Post.shop_genres_i18n[:old_interior] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(4) %>
            <%= f.label :shop_genre_antique, Post.shop_genres_i18n[:antique] %><br>
          </div>
          <div class="narrow_prefecture">
            <%= f.select :prefecture, Post.prefectures_i18n.invert %>
          </div>
          <div class="button">
            <%= f.submit '適用', class:'btn btn-warning'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>