<div class="container">
  <% if @post.user.id == current_user.id %>
  <div class="text-right mt-2">
    <%= link_to '投稿を編集', edit_post_path(@post.id), class:'btn btn-primary px-3 mx-2'%>
    <%= link_to '投稿を削除', post_path(@post.id), method: :delete, class:'btn btn-danger px-3 mx-2'%>
  </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="mx-auto my-2 border border-secondary border-3">
        <div class="post_header py-3 bg-dark text-white d-flex">
          <div class="shop_genre border border-light ml-2 px-2"><%= @post.shop_genre_i18n %></div>
          <div class="prefecture border border-light mx-2 px-2"><%= @post.prefecture_i18n %></div>
          <div class="rate border border-light text-warning px-2"><i class="fa-regular fa-star"></i><%= @post.rate %></div>
          <div class="border border-light ml-2 px-2"><%= @post.created_at.strftime('%Y/%m/%d')%></div>
          <% if current_user.not_guest_user? %>
            <div class="ml-auto px-3" id="favorite_btn_<%= @post.id %>">
              <%= render 'public/favorites/favorite', post_item: @post %>
            </div>
          <% end %>
        </div>
        <div class="post_main">
          <div class="post_main_header d-flex align-items-center　justify-content-between my-2">
            <div class="align-self-center mx-2 w-100"><h1 class="display-4">【<%= @post.shop_name %>】</h1></div>
            <div class="flex-shrink-1 d-flex flex-wrap align-items-center mr-1">
              <% @post.tags.each do |tag| %>
                <div class="text-light mx-1">
                  <%= form_with url:search_tags_path, method: :get do |f| %>
                    <%= f.hidden_field :tag_ids, :value => tag.id %>
                    <%= f.submit "#{tag.name}", class:'btn btn-info mb-1'%>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="post_main_image_review row">
            <div class="post_main_image col-sm-12 col-md-12 col-lg-8">
              <div class="swiper mb-2">
                <div class="ml-3 swiper-wrapper">
                  <% @post.post_images.each do |post_image| %>
                    <div class="swiper-slide">
                      <%= image_tag post_image, class:'img-fluid' %>
                    </div>
                  <% end %>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
            <div class="post_main_review col-sm-12 col-md-4 col-lg-4 text-left">
              <div class="address mb-2 px-1">
                <strong>住所：<%= @post.address %></strong>
              </div>
              <div class="review px-1">
                <%= safe_join(@post.review.split("\n"),tag(:br)) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="user_show border border-secondary border-2 py-2 px-2">
        <div class="user_top d-flex align_items_stretch">
          <div class="align-items-center">
            <%= image_tag @user.get_user_image(100,100) %>
          </div>
          <div class="user_name_favorite flex-fill text-center">
            <ul class="list-group ">
              <%= link_to user_path(@user.id) do %>
                <li class="list-group-item list-group-item-action">
                  <strong>名前　</strong><%= @user.name %>
                  <strong>　自己紹介　</strong>
                  <%= @user.introduction %>
                </li>
              <% end %>
              <% if current_user.not_guest_user? %>
                <% if @user.id != current_user.id %>
                <div id="follow_btn" class="post_show text-right"><%= render 'public/relations/follow_btn', user: @user %></div>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="comments my-2 overflow-auto">
        <div id="comment">
          <%= render 'public/comments/comment', comments: @comments, post_item: @post, reply: @reply %>
        </div>
        <div id="comment_form" class="form-group">
          <%= render 'public/comments/form', comment: @comment, post_item: @post %>
        </div>
      </div>
    </div>
  </div>
</div>