<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="sort_tags text-center my-2">
        <%= form_with url: admin_tags_path, method: :get, class:'d-flex' do |form| %>
          <%= form.select :sort_rule, [["新しい順", 0],["名前順", 1]], {}, {class:'form-control form-select'} %>
          <%= form.submit '適用', class:'btn btn-warning'%>
        <% end %>
      </div>
      <div class="border mb-2">
        <h3>使用可能タグ</h3>
        <div id="tags" class="tags d-flex flex-wrap align-items-center">
          <%= render 'admin/tags/tags', tags: @tags %>
        </div>
      </div>
      <div class="border">
        <h3>使用不可タグ</h3>
        <div id="disabled_tags" class="tags d-flex flex-wrap align-items-center">
          <%= render 'admin/tags/disabled_tags', disabled_tags: @disabled_tags %>
        </div>
      </div>
    </div>
  </div>
</div>