<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 my-2">
      <% @posts.each do |post_item| %>
        <% if post_item.reading_status == false %>
          <%= render 'admin/posts/item', post_item: post_item %>
        <% elsif post_item.reading_status == true %>
          <%= render 'admin/posts/deleted', post_item: post_item %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 my-2">
      <div class="sort_narrow border border-secondary border-3">
        <div class="text-center bg-dark text-white py-2">絞り込み・並び替え</div>
        <%= form_with url: admin_posts_path, method: :get do |f| %>
          <div class="sort px-2 pt-2 border-bottom border-secondary">
            <%= f.label :sort_rule, '並び替え：'%>
            <%= f.select :sort_rule, [["新しい順", 0],["古い順", 1],["評価が高い順", 2],["いいねが多い順", 3]], class:'form-control'%>
          </div>
          <div class="narrow_reading_status pt-2 px-4 border-bottom border-secondary">
            <%= f.radio_button :reading_status, "false" %>
            <%= f.label :reading_status_false, "閲覧可能投稿" %><br>
            <%= f.radio_button :reading_status, "true" %>
            <%= f.label :reading_status_true, "閲覧停止済投稿（赤）" %>
          </div>
          <div class="narrow_shop_genre pt-2 px-4 border-bottom border-secondary">
            <%= f.radio_button :shop_genre, Post.shop_genres.key(0) %>
            <%= f.label :shop_genre_old_clothing, Post.shop_genres_i18n[:old_clothing] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(1) %>
            <%= f.label :shop_genre_old_item, Post.shop_genres_i18n[:old_item] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(2) %>
            <%= f.label :shop_genre_old_tool, Post.shop_genres_i18n[:old_tool] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(3) %>
            <%= f.label :shop_genre_old_interior, Post.shop_genres_i18n[:old_interior] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(4) %>
            <%= f.label :shop_genre_antique, Post.shop_genres_i18n[:antique] %><br>
          </div>
          <div class="narrow_prefecture pt-2 px-2 border-bottom border-secondary">
            <%= f.label :prefecture, '都道府県：' %> 
            <%= f.select :prefecture, Post.prefectures_i18n.invert,include_blank: true %>
          </div>
          <div class="button px-2 py-2 text-center">
            <%= f.submit '適用', class:'btn btn-warning px-5'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>