<div class="container">
  <div class="text-right mt-2">
    <%= link_to '制限する', restrict_viewing_admin_post_path(@post.id), method: :patch, data: { confirm: "よろしいですか？" }, class:'btn btn-danger px-5' %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="mx-auto my-2 border border-secondary border-3">
        <div class="post_header py-3 bg-dark text-white d-flex">
          <div class="shop_genre border border-light ml-2 px-2"><%= @post.shop_genre_i18n %></div>
          <div class="prefecture border border-light mx-2 px-2"><%= @post.prefecture_i18n %></div>
          <div class="rate border border-light text-warning px-2"><i class="fa-regular fa-star"></i><%= @post.rate %></div>
          <div class="border border-light ml-2 px-2"><%= @post.created_at.strftime('%Y/%m/%d')%></div>
        </div>
        <div class="post_main">
          <div class="post_main_header d-flex align-items-center　justify-content-between my-2">
            <div class="align-self-center mx-2 w-100"><h1 class="display-4">【<%= @post.shop_name %>】</h1></div>
            <div class="flex-shrink-1 d-flex flex-wrap align-items-center mr-1">
              <% @post.tags.each do |tag| %>
                <div class="text-light mx-1">
                  <%= form_with url:search_tags_path, method: :get do |f| %>
                    <%= f.hidden_field :tag_ids, :value => tag.id %>
                    <%= f.submit "#{tag.name}", class:'btn btn-info mb-1'%>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="post_main_image_review row">
            <div class="post_main_image col-sm-12 col-md-8 col-lg-8">
              <div class="swiper">
                <div class="ml-3 swiper-wrapper">
                  <% @post.post_images.each do |post_image| %>
                    <div class="swiper-slide">
                      <%= image_tag post_image, class:'img-fluid' %>
                    </div>
                  <% end %>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
            <div class="post_main_review col-sm-12 col-md-4 col-lg-4 text-left">
              <div class="address mb-2 px-1">
                <strong>住所：<%= @post.address %></strong>
              </div>
              <div class="review px-1">
                <%= safe_join(@post.review.split("\n"),tag(:br)) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="user_show border border-secondary border-2 py-2 px-2">
        <div class="user_top d-flex align_items_stretch">
          <div class="align-items-center">
            <%= image_tag @user.get_user_image(100,100) %>
          </div>
          <div class="user_name_favorite flex-fill text-center">
            <ul class="list-group ">
              <%= link_to user_path(@user.id) do %>
                <li class="list-group-item list-group-item-action">
                  <strong>名前　</strong><%= @user.name %>
                  <strong>　自己紹介　</strong>
                  <%= @user.introduction %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="comments my-2">
        <% @comments.each do |comment| %>
          <div class="comment_item border border-secondary d-flex mt-1">
            <div class="image"><%= image_tag comment.user.get_user_image(60, 60) %></div>
            <div class="comment_body">
              <%= link_to admin_user_path(comment.user.id), class:'text-dark' do %>
                <%= comment.user.name %><br>
              <% end %>
              <%= comment.text %>
            </div>
            <div class="align-items-center ms-auto">
              <%= link_to '制限', admin_restrict_viewing_comment_path(@post.id, comment.id), method: :patch, class:'btn btn-danger' %>
            </div>
          </div>
          <div class="replies">
            <% comment.replies.each do |reply| %>
              <div class="reply_item ml-5 border d-flex">
                <div class="image">
                  <%= image_tag reply.user.get_user_image(50,50) %>
                </div>
                <div class="reply_body">
                  <%= link_to user_path(reply.user.id) do %>
                    <%= reply.user.name %>
                  <% end %>
                  <%= reply.text %>
                </div>
                <div class="align-items-center">
                  <%= link_to '制限', admin_restrict_viewing_comment_path(@post.id, reply.id), method: :patch, class:'btn btn-danger' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>