<div class="container">
  <div class="search_form mt-2 px-2 my-2 border border-secondary border-3 d-flex justify-content-between">
    <div class="align-items-center d-flex">
      <div>選択中タグ：</div>
      <% @tags.each do |tag| %>
        <div class="text-light bg-info border border-light rounded px-2"><%= tag.name %></div>
      <% end %>
    </div>
    <div class="align-items-center">
      <%= link_to 'タグ一覧から探し直す', tags_path, class:'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 border">
      <%= render 'public/users/user', user: current_user%>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <%= render 'public/posts/item', posts: @posts %>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="sort_narrow border border-secondary border-3">
        <div class="text-center bg-dark text-white py-2">絞り込み・並び替え</div>
        <%= form_with url: search_tags_path, method: :get do |f| %>
          <div class="sort px-2 pt-2">
            <%= f.label :sort_rule, '並び替え：'%>
            <%= f.select :sort_rule, [["新しい順", 0],["古い順", 1],["評価が高い順", 2],["いいねが多い順", 3]], class:'form-control'%>
          </div>
          <div class="narrow_shop_genre px-4">
            <%= f.radio_button :shop_genre, Post.shop_genres.key(0) %>
            <%= f.label :shop_genre_old_clothing, Post.shop_genres_i18n[:old_clothing] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(1) %>
            <%= f.label :shop_genre_old_item, Post.shop_genres_i18n[:old_item] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(2) %>
            <%= f.label :shop_genre_old_tool, Post.shop_genres_i18n[:old_tool] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(3) %>
            <%= f.label :shop_genre_old_interior, Post.shop_genres_i18n[:old_interior] %><br>
            <%= f.radio_button :shop_genre, Post.shop_genres.key(4) %>
            <%= f.label :shop_genre_antique, Post.shop_genres_i18n[:antique] %><br>
          </div>
          <div class="narrow_prefecture px-2 ">
            <%= f.label :prefecture, '都道府県：'%> 
            <%= f.select :prefecture, Post.prefectures_i18n.invert,include_blank: true %>
          </div>
          <div class="button px-2 pb-2 text-center">
            <%= f.submit '適用', class:'btn btn-warning px-5'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>