<div class="container py-2">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="user_show border border-secondary border-2 py-2 px-2">
        <div class="user_top d-flex align_items_stretch">
          <div class="d-flex align-items-center"><%= image_tag @user.get_user_image(100,100) %></div>
          <div class="user_name_favorite flex-fill text-center">
            <ul class="list-group ">
              <li class="list-group-item"><strong>BEST ITEM</strong><br><%= @user.most_favorite %></li>
              <%= link_to admin_user_path(@user.id) do %>
                <li class="list-group-item list-group-item-action"><strong>名前</strong><br><%= @user.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>自己紹介</strong><br>
            <%= @user.introduction %>
          </li>
        </ul>
        
      </div>
      <div class="border border-secondary border-3 mt-2">
        <div class="text-center bg-dark text-light mb-1"><span>有効コメント</span></div>
        <div class="comments overflow-auto">
          <% @comments.each do |comment| %>
            <div class="border mb-1 mx-1">
              <%= link_to admin_post_path(comment.post.id), class:'text-dark' do %><strong>投稿：<%= comment.post.shop_name %></strong><% end %>
              <% if comment.top_parent_id == nil %>
                <span>(親コメ)</span>
              <% else %>
                <span>(リプ)</span>
              <% end %>
              <br>
              <%= comment.text %>
              <%= link_to '強制削除', admin_restrict_viewing_comment_path(comment.post.id, comment.id), method: :patch, data: { confirm: "親コメントの場合リプライはすべて削除されます。よろしいですか？" }, class:'btn btn-danger'%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="border border-secondary border-3 mt-2">
        <div class="text-center bg-dark text-light mb-1"><span>削除済コメント</span></div>
        <div class="deleted_comments overflow-auto mx-1">
          <% @deleted_comments.each do |d_comment| %>
            <div class="border border-light bg-dark text-light mb-1">
              <%= link_to admin_post_path(d_comment.post.id), class:'text-light' do %>投稿：<%= d_comment.post.shop_name %><% end %>
              <% if d_comment.top_parent_id == nil %>
                <span>(親コメ)</span>
              <% else %>
                <span>(リプ)</span>
              <% end %>
              <br>
              <%= d_comment.text %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="text-center">
        <strong>削除投稿数：<%= @user.number_of_deleted_posts.to_s %></strong>
        <strong>削除コメント数：<%= @user.number_of_deleted_comments.to_s %></strong>
        <strong>削除タグ数：<%= @user.number_of_deleted_tags.to_s %></strong>
      </div>
      <% @posts.each do |post_item| %>
        <% if post_item.reading_status == false %>
          <%= render 'admin/posts/item', post_item: post_item %>
        <% elsif post_item.reading_status == true %>
          <%= render 'admin/posts/deleted', post_item: post_item %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <% if @user.is_admission == false %>
        <div class="text-center mb-2"><%= link_to '強制退会', withdraw_admin_user_path(@user.id), method: :patch, data: { confirm: "よろしいですか？" }, class:'btn btn-danger px-5' %></div>
      <% else %>
        <div class="text-light bg-dark">強制退会 済</div>
      <% end %>
      
      <div class="sort_narrow border border-secondary border-3 mb-2 text-center">
        <%= form_with url: admin_user_path(@user.id), method: :get do |f| %>
          <div class="sort px-2 py-2 border-bottom border-secondary">
            <%= f.select :sort_rule, [["新しい順", 0],["古い順", 1]] %>
          </div>
          <div class="narrow_reading_status pt-2 px-4 border-bottom border-secondary">
            <%= f.radio_button :reading_status, "0" %>
            <%= f.label :user_status_green, "閲覧可能投稿" %><br>
            <%= f.radio_button :reading_status, "1" %>
            <%= f.label :user_status_green, "閲覧不可投稿" %><br>
          </div>
          <div class="button px-2 py-2 text-center">
            <%= f.submit '適用', class:'btn btn-warning px-5'%>
          </div>
        <% end %>
      </div>
      <div class="tags border border-secondary border-3">
        <div class="text-center bg-dark text-light mb-1"><span>有効タグ</span></div>
        <div class="able d-flex flex-wrap overflow-auto">
          <% @tags.each do |tag| %>
            <%= link_to disable_admin_tag_path(tag.id), method: :patch, data: { confirm: "使用不可にします" } do %>
              <div class="border rounded bg-danger text-white px-2"><%= tag.name %></div>
            <% end %>
          <% end %>
        </div>
        <div class="text-center bg-dark text-light mb-1"><p>削除済タグ</p></div>
        <div class="disabled d-flex flex-wrap align-items-start overflow-auto">
          <% @disabled_tags.each do |d_tag| %>
            <div class="border rounded bg-dark text-white px-2"><%= d_tag.name %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>