<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 mx-auto my-3 py-2 border">
      <h2>ログイン</h2>
      <%= form_with model: resource, url: user_session_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: 'abc@example.com', autofocus: true, autocomplete: "email", class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
        </div>
      
        <div class="form-group text-right">
          <%= f.submit "ログイン", class:'btn btn-success px-3 py-3' %><br>
        </div>
      <% end %>
      <span>アカウントをお持ちでない方<%= render "public/shared/links" %></span>
    </div>
  </div>
</div>




