<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="user_show border">
        <%= image_tag @user.get_user_image(100, 100) %>
        <span><%= @user.most_favorite %></span>
        <%= link_to user_path(@user.id) do %><%= @user.name %><% end %>
        <p><%= @user.introduction %></p>
        <ul>
          <li><%= link_to follow_user_path(@user.id), class:'btn btn-info' do %><%= @user.follow_user.count %>フォロー<% end %></li>
          <li><%= link_to followed_user_path(@user.id), class:'btn btn-info' do %><%= @user.followed_user.count %>フォロワー<% end %></li>
        </ul>
        <% if @user.id == current_user.id %>
          <%= link_to '編集', edit_user_path(@user.id), class:'btn btn-success'%>
          <%= link_to '投稿する', new_post_path, class:'btn btn-info' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <% @users.each do |user| %>
        <div class="user_box border">
          <div class="user_box_header">
            <%= link_to user_path(user.id) do %><%= user.name %><% end %>
            <%= user.most_favorite %>
          </div>
          <div class="user_box_main">
            <%= image_tag user.get_user_image(80,80) %>
            <p><%= user.introduction %></p>
            <% if @user.id == current_user.id %>
              <%= link_to 'フォローを外す', user_relations_path(user.id), method: :delete, class:'btn btn-danger'%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>