<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 my-2">
      <%= render 'public/users/user', user: @user %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 my-2">
      <% @users.each do |user| %>
        <div class="user_show border border-secondary border-2 py-2 px-2">
          <div class="user_top d-flex align_items_stretch">
            <div class="align-items-center">
              <%= image_tag user.get_user_image(100,100) %>
            </div>
            <div class="user_name_favorite flex-fill">
              <ul class="list-group ">
                <%= link_to user_path(user.id) do %>
                  <li class="list-group-item list-group-item-action">
                    <strong>名前　</strong><%= user.name %><br>
                    <strong>自己紹介　</strong>
                    <%= user.introduction %>
                  </li>
                <% end %>
                <% if user.id != current_user.id %>
                  <% if current_user.follow?(user) %>
                    <%= link_to 'フォローを外す', user_relations_path(user.id), method: :delete, class:'btn btn-danger'%>
                  <% else %>
                    <%= link_to 'フォローする', user_relations_path(user.id), method: :post, class:'btn btn-primary'%>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <% if @users.count >= 5 %>
        <%= paginate @users %>
      <% end %>
    </div>
  </div>
</div>